<link href="static/style.css" rel="stylesheet" />

<div class="upper container">
    <h1>Predict Scores</h1>

    <span>
        <a href="/results/outdoors">View Outdoor Season Scores</a>
        <a href="/add_score">Add New Score to Model Training Data</a>
        <a href="/results/indoors">View Indoors Season Scores</a>
    </span>
</div>

<div class="lower container">
    <form action="/" method="post">

        {{ get_score_data.hidden_tag() }}

        <!-- Season -->
        <h2> {{get_score_data.season.label}}</h2>
        {{ get_score_data.season() }}

        <!-- Distance and Units -->
        <h2> {{ get_score_data.distance.label }} </h2>
        {{ get_score_data.distance() }} {{ get_score_data.units() }}

        <!-- Date of next shoot -->
        <h2> {{get_score_data.days_till.label}}</h2>
        {{ get_score_data.days_till() }}

        <!-- Will the shoot be at a competition or a club practice night? -->
        <h2> {{ get_score_data.is_comp.label }} </h2>
        {{ get_score_data.is_comp() }}
        
        <br><br>
        {{ get_score_data.submit() }}

    </form>
</div>